body{
    font-family: Arial;
    background:#f4f4f4;
}

.container{
    width:500px;
    margin:auto;
    margin-top:50px;
    background:white;
    padding:20px;
    border-radius:10px;
}

input{
    width:70%;
    padding:10px;
}

button{
    padding:10px 15px;
}

#weather{
    margin-top:20px;
}
#weather-card{
    margin-top:20px;
    background: linear-gradient(135deg,#4facfe,#00f2fe);
    color:white;
    border-radius:20px;
    padding:25px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,0.15);
}

.weather-icon{
    width:100px;
    height:100px;
}

.temp{
    font-size:48px;
    font-weight:bold;
    margin:10px 0;
}

.city{
    font-size:28px;
    font-weight:600;
}

.condition{
    font-size:18px;
    text-transform:capitalize;
}

.weather-details{
    display:flex;
    justify-content:space-around;
    margin-top:20px;
}

.detail-box{
    background:rgba(255,255,255,0.15);
    padding:10px 15px;
    border-radius:10px;
}